# Notebook 4

## Recursion

Define the variable `factorial` being equal to 1. Then use a for-loop to iterate over `range(1, 6)` (**which numbers does this range contain?**) and add all numbers to the factorial variable.

In [1]:
factorial = 1

for number in range(1, 6):
    factorial *= number

print(factorial)

120

In [2]:
assert factorial==120

Create a function `my_recursive` that recursively calculates the the factorial of a given number. Then call this function with the parameter 5, store the result in the variable `x` and print x.

In [3]:
def my_recursive(number):
    if number == 1:
        return 1
    return number * my_recursive(number-1)

x = my_recursive(5)
print(x)

120

In [4]:
assert x==120

## Index()

Create a list called `my_list` (**Why should we not call our list `list`?**) with the values `[1, 2, 4, 7, 1, 2, 29]`. Use the index function to find the index of the first 1 in this list and store it in the variable `x`. Use the index function to find the index of the second 1 in this list and store it in the variable `y`. Then print x and y. Use the index function to find the index of the number 29 while using the parameter end being equal to 5) and store it in the variable `z`.

In [5]:
my_list = [1, 2, 4, 7, 1, 2, 29]
    
x = my_list.index(1)
y = my_list.index(1, 2)
print(x)
print(y)

z = my_list.index(29, 0, 5)

0
4

ValueError: 29 is not in list

In [6]:
assert x==0
assert y==4

## in / not in Operator

Use the in operator to check whether 2 is in `my_list` and store the result in x. Use the not in operator to check whether 3 is not in `my_list` and store the result in y. Print `x==y`. **Do you understand the Output?**

In [7]:
x = 2 in my_list
y = 3 not in my_list
print(x==y)

True

In [8]:
assert x==True
assert y!=False

## List Comprehension

Create a list `my_list_1` filled with the numbers 1-50, using a for loop.

In [9]:
my_list_1 = []

for number in range(1, 51):
    my_list_1.append(number)

In [10]:
assert my_list_1==[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

Create a list `my_list_2` filled with the numbers 1-50 without multiples of 10, using a for loop.

In [11]:
my_list_2 = []

for number in range(1, 51):
    if number%10 != 0:
        my_list_2.append(number)

In [12]:
assert my_list_2==[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49]

Create a list `my_list_3` filled with the numbers 1-50 without multiples of 10 and multiply each number by 3, using a for loop.

In [13]:
my_list_3 = []

for number in range(1, 51):
    if number%10 != 0:
        my_list_3.append(number*3)

In [14]:
assert my_list_3==[3, 6, 9, 12, 15, 18, 21, 24, 27, 33, 36, 39, 42, 45, 48, 51, 54, 57, 63, 66, 69, 72, 75, 78, 81, 84, 87, 93, 96, 99, 102, 105, 108, 111, 114, 117, 123, 126, 129, 132, 135, 138, 141, 144, 147]

Create a list `my_list_4` filled with the numbers 1-50, using list comprehension.

In [15]:
my_list_4 = [number for number in range(1, 51)]

In [16]:
assert my_list_4==[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

Create a list `my_list_5` filled with the numbers 1-50 without multiples of 10, using list comprehension.

In [17]:
my_list_5 = [number for number in range(1, 51) if number%10 != 0]

In [18]:
assert my_list_5==[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49]

Create a list `my_list_6` filled with the numbers 1-50 without multiples of 10 and multiply each number by 3, using list comprehension.

In [19]:
my_list_6 = [number*3 for number in range(1, 51) if number%10 != 0]

In [20]:
assert my_list_6==[3, 6, 9, 12, 15, 18, 21, 24, 27, 33, 36, 39, 42, 45, 48, 51, 54, 57, 63, 66, 69, 72, 75, 78, 81, 84, 87, 93, 96, 99, 102, 105, 108, 111, 114, 117, 123, 126, 129, 132, 135, 138, 141, 144, 147]

Use list comprehension to Square each number in `my_list_6` and store the result in `my_list_7`.

In [21]:
my_list_7 = [number*number for number in my_list_6]

In [22]:
assert my_list_7==[9, 36, 81, 144, 225, 324, 441, 576, 729, 1089, 1296, 1521, 1764, 2025, 2304, 2601, 2916, 3249, 3969, 4356, 4761, 5184, 5625, 6084, 6561, 7056, 7569, 8649, 9216, 9801, 10404, 11025, 11664, 12321, 12996, 13689, 15129, 15876, 16641, 17424, 18225, 19044, 19881, 20736, 21609]

## Generator Expression

Print `my_list_7`. Then do the same thing as a generator expression and store this in `my_gen`- Print `my_gen`. **What is the difference between these two types?** Use a for loop to iterate over my_gen and print each value. **Why does this work?**

In [23]:
print(my_list_7)
my_gen = (number*number for number in my_list_6)
print(my_gen)

for gen in my_gen:
    print(gen)

[9, 36, 81, 144, 225, 324, 441, 576, 729, 1089, 1296, 1521, 1764, 2025, 2304, 2601, 2916, 3249, 3969, 4356, 4761, 5184, 5625, 6084, 6561, 7056, 7569, 8649, 9216, 9801, 10404, 11025, 11664, 12321, 12996, 13689, 15129, 15876, 16641, 17424, 18225, 19044, 19881, 20736, 21609]
<generator object <genexpr> at 0x000002984C466740>
9
36
81
144
225
324
441
576
729
1089
1296
1521
1764
2025
2304
2601
2916
3249
3969
4356
4761
5184
5625
6084
6561
7056
7569
8649
9216
9801
10404
11025
11664
12321
12996
13689
15129
15876
16641
17424
18225
19044
19881
20736
21609

In [24]:
assert type(my_gen)==type(x for x in range(2))

## Filter / Map and Lambda Functions

### Filter

Use the configuration below:

In [25]:
a_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

def my_function(value):
    if value%2 == 0:
        return True
    return False

Define the variable `filtered_list_1` being equal to `a_tuple` filtered by `my_function`. Print `filtered_list_1`. **How many times is my_function called?**

In [26]:
filtered_list_1 = filter(my_function, a_tuple)
print(filtered_list_1)

<filter object at 0x000002984C3B9910>

In [27]:
assert type(filtered_list_1)==type(filter(None, a_tuple))

Define the variable `filtered_list_1` being equal to `filtered_list_1` as a list. Print `filtered_list_1`.

In [28]:
filtered_list_1 = list(filtered_list_1)
print(filtered_list_1)

[2, 4, 6, 8, 10]

In [29]:
assert filtered_list_1==[2, 4, 6, 8, 10]

### Map

Use the configuration below:

In [30]:
a_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def my_function_2(value):
    return value*3

Define the variable `mapped_list_1` being equal to `my_function` mapped to `a_list`. Print `mapped_list_1`. **How many times is my_function_2 called?**

In [31]:
mapped_list_1 = map(my_function_2, a_list)
print(mapped_list_1)

<map object at 0x000002984C3B9220>

In [32]:
assert type(mapped_list_1)==type(map(None, a_list))

Define the variable `mapped_list_1` being equal to `mapped_list_1`. Print `mapped_list_1`.

In [33]:
mapped_list_1 = list(mapped_list_1)
print(mapped_list_1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [34]:
assert mapped_list_1==[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Define the variable `mapped_list_2` as list being equal to the range(0, 10) where all numbers are converted to string. Print this list.

In [35]:
mapped_list_2 = list(map(str, range(0, 10)))
print(mapped_list_2)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [36]:
assert mapped_list_2==['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

Define the variable `a_string` being equal to all numbers from `mapped_list_2` concatenated. Use the `.join()` function and print `a_string` and it's type.

In [37]:
a_string = "".join(mapped_list_2)
print(a_string)
print(type(a_string))

0123456789
<class 'str'>

In [38]:
assert a_string=="0123456789"

### Lambda

Use the configuration below:

In [39]:
a_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Define the variable `filtered_list_1` being equal to `a_list` filtering out all odd numbers using `filter` and a `lambda function`. Transform `filtered_list_1` to a list. Print `filtered_list_1`.

In [40]:
filtered_list_1 = list(filter(lambda x: x%2 == 0, a_list))
print(filtered_list_1)

[2, 4, 6, 8, 10]

In [41]:
assert filtered_list_1==[2, 4, 6, 8, 10]

Define the variable `mapped_list_1` being equal to a lambda function that multiplies each value by 3 mapped to `a_list`. Transform `mapped_list_1` to a list. Print `mapped_list_1`.

In [42]:
mapped_list_1 = list(map(lambda x: x*3, a_list))
print(mapped_list_1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [43]:
assert mapped_list_1 == [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Concatenate `mapped_list_1` and `filtered_list_1` in `combined_list`. Print `combined_list`. Then define `sorted_list` being equal to a reversely sorted version of `combined_list`. Print `sorted_list`.

In [44]:
combined_list = mapped_list_1 + filtered_list_1
print(combined_list)
sorted_list = sorted(combined_list, reverse=True)
print(sorted_list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 2, 4, 6, 8, 10]
[30, 27, 24, 21, 18, 15, 12, 10, 9, 8, 6, 6, 4, 3, 2]

In [45]:
assert combined_list==[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 2, 4, 6, 8, 10]
assert sorted_list==[30, 27, 24, 21, 18, 15, 12, 10, 9, 8, 6, 6, 4, 3, 2]

# We will be doing Dictionaries & Sets next Week