# Notebook 8

Import the necessary dependencies, download a sample dataframe and take a first look at the structure.

In [1]:
import pandas as pd
df = pd.read_csv("https://stats.govt.nz/assets/Uploads/Business-financial-data/Business-financial-data-June-2022-quarter/Download-data/business-financial-data-june-2022-quarter-csv.zip")
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN

Access the fourth row (**should you use .iloc[] or .loc[]?**) and store the result in the variable `row_4`. **What type is this variable?**

In [3]:
row_4 = df.iloc[3]
type(row_4)
row_4

Series_reference                                      BDCQ.SF1AA2CA
Period                                                      2017.03
Data_value                                                  1010.66
Suppressed                                                      NaN
STATUS                                                            F
UNITS                                                       Dollars
Magnitude                                                         6
Subject                              Business Data Collection - BDC
Group               Industry by financial variable (NZSIOC Level 2)
Series_title_1                             Sales (operating income)
Series_title_2                                 Forestry and Logging
Series_title_3                                       Current prices
Series_title_4                                           Unadjusted
Series_title_5                                                  NaN
Name: 3, dtype: object

In [4]:
assert repr(row_4)=='Series_reference                                      BDCQ.SF1AA2CA\nPeriod                                                      2017.03\nData_value                                                  1010.66\nSuppressed                                                      NaN\nSTATUS                                                            F\nUNITS                                                       Dollars\nMagnitude                                                         6\nSubject                              Business Data Collection - BDC\nGroup               Industry by financial variable (NZSIOC Level 2)\nSeries_title_1                             Sales (operating income)\nSeries_title_2                                 Forestry and Logging\nSeries_title_3                                       Current prices\nSeries_title_4                                           Unadjusted\nSeries_title_5                                                  NaN\nName: 3, dtype: object'

Now access the `Period` column in `row_4` and store the result in `period_row_4`.

In [5]:
period_row_4 = row_4["Period"]

In [6]:
assert period_row_4==2017.03

Do the same thing as above for row 3 in one line and store the result in `period_row_3`.

In [7]:
period_row_3 = df.iloc[2]["Period"] # or:  df.loc[3, "Period"]

In [8]:
assert period_row_3==2016.12

Create a copy of `df` and store it in `df_2`. Then store only the columns `Series_reference`, `Period` and `Suppressed`.

In [9]:
df_2 = df.copy()
df_2 = df_2[["Series_reference", "Period", "Suppressed"]]

In [10]:
assert repr(df_2)[0:100]=='     Series_reference   Period Suppressed\n0       BDCQ.SF1AA2CA  2016.06        NaN\n1       BDCQ.SF1'

Set the `Series_reference` as Index (**Why is this possible? There are non-unique indeces!?**. Then create a new column `modified period` that has the values from `Period` multiplied by 2.

In [11]:
df_2 = df_2.set_index("Series_reference")
df_2["modified period"] = df_2["Period"] * 2

In [12]:
df_2

                   Period Suppressed  modified period
Series_reference
BDCQ.SF1AA2CA     2016.06        NaN          4032.12
BDCQ.SF1AA2CA     2016.09        NaN          4032.18
BDCQ.SF1AA2CA     2016.12        NaN          4032.24
BDCQ.SF1AA2CA     2017.03        NaN          4034.06
BDCQ.SF1AA2CA     2017.06        NaN          4034.12
...                   ...        ...              ...
BDCQ.SF8RSCA      2021.06        NaN          4042.12
BDCQ.SF8RSCA      2021.09        NaN          4042.18
BDCQ.SF8RSCA      2021.12        NaN          4042.24
BDCQ.SF8RSCA      2022.03        NaN          4044.06
BDCQ.SF8RSCA      2022.06        NaN          4044.12

[5955 rows x 3 columns]

Now sort the dataframe by the `Period` in descending order. Store only the first 10 row in `df_2` (use .head()) and then sort by index again.

In [13]:
df_2 = df_2.sort_values(by="Period", ascending=False)
df_2 = df_2.head(10)
df_2 = df_2.sort_index()

In [14]:
assert repr(df_2)[:100]=='                   Period Suppressed  modified period\nSeries_reference                              '